<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="grid-container">
        <div class="header">Handwritten Calculator</div>
        <div class="expression">Draw a number or operation</div>
        <div class="answer">answer</div>

        <div class="input">
            <canvas></canvas>
        </div>

        <div class="undo button">Undo</div>
        <div class="clear button">Clear</div>
        <div class="solve button">Solve</div>

    </div>
</body>
</html>