<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="grid-container">
    <div class="header">Handwritten Calculator</div>
    <div class="expression" id="expression"></div>
    <div class="answer"></div>

    <div class="input">
        <canvas id="drawPlace" height="250" width="250"></canvas>
        <script src="{{ url_for('static', filename='js/draw_functions.js') }}"></script>
    </div>

    <div class="undo button" onclick="undo()">Undo</div>
    <div class="clear button" onclick="clearExpression()">CE</div>
    <div class="solve button" onclick="solve()">Solve</div>
</div>
</body>
</html>